name: Deploy GitHub Pages

on:
  push:
    branches:
      - main  # branch that triggers the workflow

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./  # folder containing your website files
          destination_branch: gh-pages  # branch that hosts the Pages site
